## Deliverable 2. Create a Customer Travel Destinations Map.

In [5]:
# Dependencies and Setup
import sys
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country,Date
0,0,Kodiak,57.7900,-152.4072,39.72,82,91,10.51,Overcast clouds,US,2021-09-26 17:56:48
1,1,Ushuaia,-54.8000,-68.3000,46.06,46,40,9.22,Scattered clouds,AR,2021-09-26 17:56:48
2,2,Manakara,-22.1333,48.0167,68.99,80,13,6.26,Few clouds,MG,2021-09-26 17:56:48
3,3,Hovd,48.0056,91.6419,42.93,23,3,0.81,Clear sky,MN,2021-09-26 17:56:48
4,4,Kaitangata,-46.2817,169.8464,32.76,92,22,5.14,Few clouds,NZ,2021-09-26 17:56:49

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('Enter the minimum temperature you prefer: '))
max_temp = float(input('Enter the maximum temperature you prefer: '))

Enter the minimum temperature you prefer: 75
Enter the maximum temperature you prefer: 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) &
                              (city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country,Date
6,6,Nabire,-3.3667,135.4833,76.28,90,84,3.80,Broken clouds,ID,2021-09-26 17:55:06
9,9,Pochutla,15.7432,-96.4661,88.56,57,69,5.48,Broken clouds,MX,2021-09-26 17:56:50
10,10,Tevaitoa,-16.7833,-151.5000,79.12,77,5,15.75,Light rain,PF,2021-09-26 17:56:50
11,11,Kirakira,-10.4544,161.9205,77.70,86,55,8.05,Broken clouds,SB,2021-09-26 17:56:50
14,14,Kapaa,22.0752,-159.3190,78.12,78,75,3.00,Light rain,US,2021-09-26 17:51:43

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isna().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Country                1
Date                   0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country,Date
6,6,Nabire,-3.3667,135.4833,76.28,90,84,3.80,Broken clouds,ID,2021-09-26 17:55:06
9,9,Pochutla,15.7432,-96.4661,88.56,57,69,5.48,Broken clouds,MX,2021-09-26 17:56:50
10,10,Tevaitoa,-16.7833,-151.5000,79.12,77,5,15.75,Light rain,PF,2021-09-26 17:56:50
11,11,Kirakira,-10.4544,161.9205,77.70,86,55,8.05,Broken clouds,SB,2021-09-26 17:56:50
14,14,Kapaa,22.0752,-159.3190,78.12,78,75,3.00,Light rain,US,2021-09-26 17:51:43
...,...,...,...,...,...,...,...,...,...,...,...
1821,1821,Adre,13.4667,22.2000,75.58,70,97,6.02,Overcast clouds,TD,2021-09-26 18:02:13
1825,1825,Hamilton,39.1834,-84.5333,76.50,42,7,1.99,Clear sky,US,2021-09-26 17:55:09
1829,1829,Port Blair,11.6667,92.7500,79.43,87,98,14.07,Overcast clouds,IN,2021-09-26 18:02:13
1830,1830,Hithadhoo,-0.6000,73.0833,82.96,73,88,15.52,Overcast clouds,MV,2021-09-26 17:58:14
1835,1835,Butaritari,3.0707,172.7902,83.75,74,92,16.62,Overcast clouds,KI,2021-09-26 17:58:04

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Nabire,ID,76.28,Broken clouds,-3.3667,135.4833,
9,Pochutla,MX,88.56,Broken clouds,15.7432,-96.4661,
10,Tevaitoa,PF,79.12,Light rain,-16.7833,-151.5000,
11,Kirakira,SB,77.70,Broken clouds,-10.4544,161.9205,
14,Kapaa,US,78.12,Light rain,22.0752,-159.3190,
15,Caravelas,BR,78.85,Overcast clouds,-17.7125,-39.2481,
16,Shrigonda,IN,75.09,Light rain,18.6167,74.6833,
22,Puerto Ayora,EC,76.96,Overcast clouds,-0.7393,-90.3518,
23,La Huacana,MX,82.89,Overcast clouds,18.9667,-101.8167,
29,Erzin,TR,77.00,Clear sky,36.9559,36.2000,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

skipped = 0

print('Hotel retrieval: started')

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params['location'] = f'{lat},{lng}'

    
    # 6e. Make request and retrieve the JSON data from the search. 
    try:
        response = requests.get(base_url, params=params)
        if response.status_code == 200:
            hotels = response.json()
            
            # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
            hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
            
        # handles status code errors
        else:
            hotel_df.loc[index, 'Hotel Name'] = np.NAN
            print(f'status code: {response.status_code}, index: {index} skipped')
            skipped += 1
        
    # handles all other errors
    except:
        hotel_df.loc[index, 'Hotel Name'] = np.NAN
        err = sys.exc_info()[0]
        print(f'Error:{err}, index:{index} skipped')
        skipped += 1
        
print('Hotel retrieval: ended')

if skipped > 1:
    print(f'{skipped} cities skipped')
elif skipped == 1:
    print(f'1 city skipped')
else:
    print('no city was skipped')

Hotel retrieval: started
Error:<class 'IndexError'>, index:53 skipped
Error:<class 'IndexError'>, index:97 skipped
Error:<class 'IndexError'>, index:208 skipped
Error:<class 'IndexError'>, index:225 skipped
Error:<class 'IndexError'>, index:279 skipped
Error:<class 'IndexError'>, index:505 skipped
Error:<class 'IndexError'>, index:779 skipped
Error:<class 'IndexError'>, index:932 skipped
Error:<class 'IndexError'>, index:1114 skipped
Error:<class 'IndexError'>, index:1257 skipped
Error:<class 'IndexError'>, index:1821 skipped
Hotel retrieval: ended
11 cities skipped

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.copy()
clean_hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Nabire,ID,76.28,Broken clouds,-3.3667,135.4833,Hotel Nusantara Nabire
9,Pochutla,MX,88.56,Broken clouds,15.7432,-96.4661,Hotel Posada San Jose
10,Tevaitoa,PF,79.12,Light rain,-16.7833,-151.5000,Hôtel Raiatea Lodge
11,Kirakira,SB,77.70,Broken clouds,-10.4544,161.9205,SanBiz Lodge
14,Kapaa,US,78.12,Light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
1820,Puerto Ayora,EC,76.96,Overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1825,Hamilton,US,76.50,Clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
1829,Port Blair,IN,79.43,Overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
1830,Hithadhoo,MV,82.96,Overcast clouds,-0.6000,73.0833,Scoop Guest House
1835,Butaritari,KI,83.75,Overcast clouds,3.0707,172.7902,Isles Sunset Lodge

In [14]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
  <dt>Hotel</dt><dd>{Hotel Name}</dd>
  <dt>City</dt><dd>{City}</dd>
  <dt>Country</dt><dd>{Country}</dd>
  <dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))